# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Ruff stuff:
.ruff_cache/

# Cursor
.cursorignore
.cursorindexingignore

# Claude Code
.claude/
.claudeignore
CLAUDE.md

# Project specific
.env
.env.local
uv.lock
.venv/

data/*
!data/.gitkeep

docs/*
!docs/.gitkeep
